*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#eee;
  color:#111;
}

.container{
  max-width:1400px;
  margin:40px auto;
  background:#f2f2f2;
  border:2px solid #1e90ff;
  padding:30px 40px;
}

.nav{
  display:grid;
  grid-template-columns:1fr repeat(5, 1fr);
  align-items:center;
  border-bottom:1px solid #aaa;
  padding-bottom:15px;
}

.logo{
  font-weight:700;
  font-size:22px;
}

.nav a{
  text-align:center;
  text-decoration:none;
  color:#111;
  font-size:15px;
}

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-top:60px;
  gap:60px;
}

.left h1{
  font-size:56px;
  font-weight:500;
  line-height:1.1;
  margin-top: 60px;
}

.left p{
  max-width:420px;
  font-size:15px;
  color:#444;
  margin-bottom:30px;
}

.buttons{
  display:flex;
  gap:15px;
}

.btn-black{
  background:#111;
  color:#fff;
  border:none;
  padding:12px 20px;
  cursor:pointer;
}

.btn-outline{
  background:transparent;
  border:1px solid #111;
  padding:12px 20px;
  cursor:pointer;
}

.scroll{
  margin-top:80px;
  width:60px;
  height:60px;
  border-radius:50%;
  background:#111;
  color:#fff;
  font-size:11px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.right{
  position:relative;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:30px;
}

.card{
  position:relative;
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.label{
  position:absolute;
  top:-25px;
  left:0;
  font-size:12px;
}

.arrow{
  position:absolute;
  width:60px;
  height:60px;
  border:1px solid #111;
  border-color:#111 transparent transparent transparent;
  border-radius:50%;
}

.ecommerce .arrow{
  top:-10px;
  left:-40px;
  transform:rotate(30deg);
}

.branding .arrow{
  top:-10px;
  right:-40px;
  transform:rotate(-30deg);
}

.web .arrow{
  bottom:-40px;
  left:-30px;
  transform:rotate(-60deg);
}

.marketing .arrow{
  bottom:-40px;
  left:40px;
  transform:rotate(-120deg);
}

.influencer .arrow{
  right:-40px;
  bottom:20px;
  transform:rotate(60deg);
}